/* header overall */
#sticky-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  height: 60px;
}
/* end header overall */
/* middle header */
.search-bar{
  display: flex;
  align-items: center;
}
.search-button{
  width: 70px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  margin-right: 1em;
}
.voice-search-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}
.search-icon{
  width: 30px;
}
.search-input{
  height: 35px;
  border: 1px solid #cccccc;
}
/* end middle header */
/* left header */

.youtube-logo{
  width: 100px;
}
/* end left header */

/* right header */
.right-section-header{
  display: flex;
  align-items: center;
}
.right-section-header > button{
  width: 35px;
  margin-right: 2em;
  border: none;
  background-color: white;
}
.main-profile{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
/* end right header */

