.video-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 15px;
  row-gap: 15px;
  margin-top: 62px;
  padding: 30px 20px;
  background-color: #f9f9f9;
}
.video-thumbnail{
  width: 100%;
  border-radius: 10px;
}
.video-description{
  display: flex;
  align-items: center ;
}
.profile-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5em;
}
.channel-name{
  margin-top: 0.5em;
}
.video-title{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.video-card-top{
  position: relative;
}
.video-length{
  background-color: black;
  color: white;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}